@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-8 border-end position-relative" href="#">
            <h3>Novos Artigos</h3>
            <div class="card mb-3">
                <div class="row g-0">
                    <a href="#" class="stretched-link"></a>
                    <div class="col-md-4">
                        <img src="https://picsum.photos/300/300" class="w-100 h-100 rounded-start object-fit-cover"
                            alt="...">
                    </div>
                    <div class="col-md-8 position-relative">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text mb-custom-2">This is a wider card with supporting text below as a
                                natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text text-primary position-absolute bottom-0 end-0 p-1">
                                <span class="avoidwrap"><a
                                        class="btn btn-sm btn-primary card-text rounded-pill card-custom-link"
                                        href="#">Filosofia</a></span>
                                <span class="avoidwrap">| <a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <a href="#" class="stretched-link"></a>
                    <div class="col-md-4">
                        <img src="https://picsum.photos/300/300" class="w-100 h-100 rounded-start object-fit-cover"
                            alt="...">
                    </div>
                    <div class="col-md-8 position-relative">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text mb-custom-2">This is a wider card with supporting text below as a
                                natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text text-primary position-absolute bottom-0 end-0 p-1">
                                <span class="avoidwrap"><a
                                        class="btn btn-sm btn-primary card-text rounded-pill card-custom-link"
                                        href="#">Psicologia</a></span>
                                <span class="avoidwrap">| <a class="text-decoration-none card-custom-link" href="#">Zero
                                        HP Lovecraft</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <a href="#" class="stretched-link"></a>
                    <div class="col-md-4">
                        <img src="https://picsum.photos/300/300" class="w-100 h-100 rounded-start object-fit-cover"
                            alt="...">
                    </div>
                    <div class="col-md-8 position-relative">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text mb-custom-2">This is a wider card with supporting text below as a
                                natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text text-primary position-absolute bottom-0 end-0 p-1">
                                <span class="avoidwrap"><a
                                        class="btn btn-sm btn-primary card-text rounded-pill card-custom-link"
                                        href="#">Cinema</a></span>
                                <span class="avoidwrap">| <a class="text-decoration-none card-custom-link"
                                        href="#">Elton Mesquita</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary d-block mx-auto">Ver mais</button>
        </div>
        <div class="col-4">
            <div class="row">
                <h4>Mais Informações</h4>
            </div>
            <div class="row">
                <h4>Newsletter</h4>
            </div>
            <div class="row">
                <h4>Contato</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Filosofia</h4>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="row">
        <h4>Matemática</h4>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="row">
        <h4>Ciência da Computação</h4>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card mb-5">
                        <img src="https://picsum.photos/300/200" class="card-img-top object-fit-cover w-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text fs-6 mb-custom-2">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <p class="card-text fs-6 text-primary position-absolute bottom-0 end-0 p-1 w-100">
                                <span class="avoidwrap"><a class="text-decoration-none card-custom-link"
                                        href="#">Pedro Sette-Câmara</a></span>
                                <span class="avoidwrap"><i class="bi bi-clock"></i><small class="text-muted">
                                        12/07/22</small></span>
                                <span class="avoidwrap"><i class="bi bi-chat"></i><small class="text-muted">
                                        12</small></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="row">
        <h4>Galeria</h4>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="https://picsum.photos/300/200" class="object-fit-cover w-auto d-block" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="https://picsum.photos/300/200" class="object-fit-cover w-auto d-block" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="https://picsum.photos/300/200" class="object-fit-cover w-auto d-block" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="https://picsum.photos/300/200" class="object-fit-cover w-auto d-block" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="https://picsum.photos/300/200" class="object-fit-cover w-auto d-block" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="https://picsum.photos/300/200" class="object-fit-cover w-auto d-block" alt="">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>

<!--
    Learn about https://docs.microsoft.com/aspnet/core building Web apps with ASP.NET Core
-->