html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-menu {
  padding-left: 20px;
}

.nav-link:hover {
  color:blue!important;
  text-decoration: overline;
}

.dropdown-item:active {
  color: #ffffff!important;
}

.input-search-nav {
  display: none;
}

.button-search-nav {
  color: black;
  height:40px;
  border: none;
}

.nav-social {
  max-width: min-content;
}