* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link:hover {
  color:blue!important;
  text-decoration: overline;
}

.dropdown-item:active {
  color: #ffffff!important;
}

.button-search-nav {
  color: black;
}

.nav-social {
  max-width: min-content;
}

.avoidwrap {
  display: inline-block;
}

.mb-custom-2 {
  margin-bottom: calc(2em + 31px);
}

.card-custom-link {
  position: relative;
  z-index: 2;
}

.object-fit-cover {
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-slide .card {
  height: fit-content;
  width: auto;
}

.swiper-slide .card img {
  height: 150px;
}