html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link:hover {
  color:blue!important;
  text-decoration: overline;
}

.dropdown-item:active {
  color: #ffffff!important;
}

.button-search-nav {
  color: black;
}

.nav-social {
  max-width: min-content;
}

.avoidwrap {
  display: inline-block;
}

.mb-custom-2 {
  margin-bottom: calc(2em + 31px);
}

.card-custom-link {
  position: relative;
  z-index: 2;
}